* {

  margin: 0;
  padding: 0;

}

#formulario {
  width: 200px;
  height: auto;
  margin: 100px auto;
  padding: 10px;
  border-radius: 7px;
  border: solid 1px black;
  box-shadow: 0px 2px 5px black;
}

#form input {
  width: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid black;
}

#save,
#clean {
  border: none;
  color: white;
  padding: 4px;
  border-radius: 5px;
  transition: 0.3s;
  margin: 4px 2px;
}

#save {
  background-color: limegreen;
}

#clean {
  background-color: orangered;
}

#clean:hover,
#save:hover {
  transform: scale(1.1);
}

#form input:focus {
  outline: none;
}
