* {

  margin: 0;
  padding: 0;

}

#formulario {
  width: 200px;
  height: auto;
  margin: 100px auto;
  padding: 10px;
  border-radius: 7px;
  border: solid 1px black;
  box-shadow: 0px 2px 5px black;
}

#form input {
  width: 95%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid black;
}


#form input:focus {
  border: none;
}
